/* General Styles */
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styles */
header {
    background: linear-gradient(to bottom, rgba(195, 177, 255, 0.4), #000000);
    color: white;
    padding: 10px 5px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

/* Animated Text Styles */
.animated-text {
    padding-left: 20px; /* 20px margin from the left */
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    color: #ecf0f1;
    display: flex;
    align-items: center;
}

.animated-text span {
    animation: flash 1.5s infinite;
    color: #16a085; /* Color for brackets */
    font-size: 42px;
}

@keyframes flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}


/* Footer Styles */
footer {
    margin-top: auto;
    background: linear-gradient(to top, rgba(195, 177, 255, 0.4), #000000);
    color: white;
    padding: 10px 5px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: flex;
    align-items: center;
}

.social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border: 2px solid #fff; /* Adjust border color and thickness */
    transition: transform 0.5s ease, background-color 0.5s ease;
    text-decoration: none; /* Remove underline */
}

.social-icon i {
    color: #fff; /* Default icon color */
    font-size: 24px;
}

.github:hover, .github:hover i { background-color: #333; }
.instagram:hover, .instagram:hover i { background-color: #C13584; }
.linkedin:hover, .linkedin:hover i { background-color: #0077b5; }

/* Remove underline from links */
a {
    text-decoration: none; /* Remove underline from all links */
}

/* Responsive Adjustments */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin: 5px 0;
    }

    footer {
        flex-direction: column;
    }
}
