html {
    height: 100%;

}

/* General Styles */
body {
    margin: 0;
    font-family: "JetBrains Mono", serif;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styles */
header {
    background: rgba(195, 177, 255, 0.4);
    color: white;
    padding: 10px 5px; /* Adjust padding as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

.animated-text {
    margin-left: 20px; /* 20px margin from the left */
    font-family: "JetBrains Mono", serif;
    font-size: 35px;
    color: #ecf0f1;
    white-space: nowrap;
    overflow: hidden; /* Ensures text stays within the container */
    border-right: 3px solid white; /* Cursor-like blinking effect */
    display: flex; /* This will ensure inline elements are aligned properly */
    align-items: center; /* Align items vertically in the center */
    animation: typing 3s steps(200, end), blink 0.75s step-end infinite;
    /* Adjust the duration to control the speed of typing */
}


.brackets {
    color: #16a085; /* Color for brackets */
    font-size: 42px;
}

.quotes {
    color: #1E90FF; /* Color for quotes */
    font-size: 35px;
}

.quotesLeft {
    margin-right: 5px;
    color: #1E90FF; /* Color for quotes */
    font-size: 35px;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 19ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.content {
    flex: 1; /* Takes up all available space */
}


/* Footer Styles */
footer {
    background: rgba(195, 177, 255, 0.4);
    color: white;
    padding: 10px 5px; /* Adjust padding as needed */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border: 2px solid #fff; /* Adjust border color and thickness */
    transition: transform 0.5s ease, background-color 0.5s ease;
    text-decoration: none; /* Remove underline */
}

.social-icon i {
    color: #ffffff; /* Default icon color */
    font-size: 24px;
}

.github:hover, .github:hover i {
    background-color: #000000;
}

.instagram:hover, .instagram:hover i {
    background-color: #C13584;
}

.linkedin:hover, .linkedin:hover i {
    background-color: #0077b5;
}

/* Remove underline from links */
a {
    text-decoration: none; /* Remove underline from all links */
}

.copyright {
    justify-content: center;
}

#quote {
    padding: 10px;
    font-style: italic; /* Italicize the quote */
    font-size: 1em; /* Increase the font size */
    text-align: center; /* Center align the quote */
    border-left: 4px solid #16a085; /* Add a left border */
    border-right: 4px solid #16a085; /* Add a left border */
    background-color: rgba(255, 255, 255, 0.1); /* Slight background color */
    color: #ecf0f1; /* Light color for the quote */
    max-width: 50%; /* Max width of the quote box */
    margin: 0 10px 0 0;
    align-content: center;
}

/* Responsive Adjustments */
@media (max-width: 600px) {

    header, footer {
        flex-direction: column;
        text-align: center;
        padding: 20px 10px; /* Increased padding */
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .socials {
        margin-top: 10px; /* Add space between links and copyright text */
    }

    nav li {
        margin: 5px 0;
    }

    #quote {
        font-size: 1em; /* Smaller font for small screens */
        padding: 5px;
    }
}
